.nav-bar{
    display: flex;
    justify-content: space-between;
    background: #1c2938;
  
}

.navbar-brand{
    color: white !important;
    font-size: 1.5rem;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}