.top-nine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 100%;
}

.card{
    border: 0;
    border-radius: 0px !important;
    width:  250px;
    height: 250px;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.card .buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around; 
    position: absolute;
    background: #01295F;
    top: 200px;
    left: 0;
    height: 50px;
    z-index: 1;
    visibility: hidden;
 }
 
 .card:hover .buttons{
     visibility: unset;
 }


 .card .buttons Button{
     margin: 4%;
    opacity:1.0;
    
 }
.card-img-top{
    margin-top: -50px;
    border-radius: 0px !important;    
    z-index: 0;
}

.card-title{
    margin-top: 0px;
    padding: 10px 0 10px 0;
    color: white;
    background: #2E8FD1;
    font-size: auto;
  
}

.card-text{
    font-size: 1.25rem;
    padding: 2%;
}

.modal-content{
    border: 0 !important;
    border-radius: 0 !important;
}
.modal-header{
    background: #01295F !important;
    color: white;
    border: 0 !important;
    border-radius: 0 !important;
}

.close{
    color: white;
}

.error-msg{
    color: red;
    margin-left: 1%;
}