.top-nine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    border-radius: 0px !important;
    width: 400px;
    height: 500px;
    margin:2%;
}

.card-img{
    border-radius: 0px !important;    
}

.card-title{
    margin-top: 3%;
}